parameters:
	level: max

	paths:
		- ../src

	ignoreErrors:
		-
			message: '#^Method CzProject\\PhpSimpleAst\\Ast\\Modifiers\:\:toConstantModifiers\(\).*$#'
			path: */Ast/Modifiers.php
		-
			message: '#^Method CzProject\\PhpSimpleAst\\Ast\\Modifiers\:\:toPropertyModifiers\(\).*$#'
			path: */Ast/Modifiers.php


services:
	-
		class: CzProject\Assert\Bridges\PhpStan\StaticMethodTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
